/* CSS files add styling rules to your content */

body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
  }

.title {
    font-weight: bold;
    color: rgb(22, 25, 196)
}

.createbox {
    display: inline-block;
    width: 100px;
    height: 100px;
    color: white;
    border: 1px solid white;
    background-color: rgb(99, 94, 94);
}

.onColor {
    background-color: deepskyblue;
}